#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: 2px solid red;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;

}

.playerside,.computerside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.computerside {

}

.instructions {

}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    gap: 8px;
}

.results {
    
}